@import '~ress/dist/ress.min.css'; //сброс дефолтных стилей браузера
@import "variables";
@import "mixins";

html, body {
  display: flex;
  height: 100vh;
  width: 100%;
  background: #F5F6FB;
  overflow: auto;
}

//Модификаторы//

.main-text-color {
  color: $main-text-color;
}

.sub-gray-color {
  color: $sub-gray-color;
}

.primary-background {
  background: $primary-color;
}

//Модификаторы//